.fixed-bar{
    top:0px;
    width:100%;
    height:50px;
    background-color: white;
    position:fixed;
    visibility:hidden;
    z-index:100;
}

.content-bar{
    height:750px;
    display:flex;
    width:100%;
    
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: yellow;
}
.content-bar-container{
    display:flex;
    width:100%;
    margin:10px 8px;
    flex-wrap: wrap;
    justify-content: center;
    height:72%;
    margin-bottom: 0;
    min-width:800px;
    overflow: hidden;
    flex:1 0;
}
.content-bar-left{
    height:90%;
    flex:0 0 22%;
    margin:20px;
    background-color: white;
    display:flex;
    
}
.content-bar-left-items{
    width:90%;
    height:90%;
}
.content-bar-middle{
    position:relative;
    height:90%;
    flex:0 0 46%;
    
    background-color: white;
    /* transition:all 0.5s ease 0;无用 */
    margin:20px;
}
.lunbo{
    width:90%;height:80%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.item-list{
    position:absolute;
    top:80%;
    left:50%;
    transform: translateX(-50%);
}
.item-list>span{
    width:12px;
    height:12px;
    background-color: gray;
    border-radius: 6px;
    display:inline-block;
    margin:0 3px;
}
.content-bar-right{
    height:90%;
    flex:0 0 22%;
    margin:20px;
    background-color: rgb(161, 184, 33);
    
}
.content-bar-bottom{
    margin:0;
    height:24%;
    flex:0 1 94%;
    background-color: white;
    display: flex;
    user-select: none;
}
.seckill{
    font-size:xx-large;
    display: inline-block;
    line-height: 180px;
    height:100%;
    position: relative;
    font-weight:900;
    text-align: center;
    color:red;
    width:20%;
}
.flash-sale{
    position:relative;
    top:10%;
    height:80%;
    margin-right:20px;
    width:18%;
    transition: all 0.2s;    
}
.flash-sale:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.to-cart{
    position: absolute;
    left:78%;
    top:50%;
    width:120px;
    height:40px;
    transform: translateY(-50%);
    background-color: white;
    font-weight:800;
    color:red;
    font-size:16px;
    text-align: center;
    line-height:40px;
    box-shadow:0 0 1px 2px red;
}
.to-cart::before{
    content:attr(data-count);
    display: block;
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color:teal;
    left:100px;
    line-height:20px;
    font-size:12px;
    /* scale: 0.5; */
    transform: scale(1.2);
    color:black
    
}